
<!-- footer -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.example.com/TOU">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="AboutUs.html">About Us</a></li>
                    <li class="list-inline-item"><a href="ContactUs.html">Contact Us</a></li>
                    <li class="list-inline-item"><a href="Careers.html">Careers</a></li>
                    <li class="list-inline-item"><a href="https://www.example.com/Legalities">Legalities</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook fa-2x white-icon"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-2x white-icon"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin fa-2x white-icon"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <hr>
                <span>&copy; Entity of HardHat Enterprises</span>
            </div>
        </div>
    </div>
</footer>